<div class="flex w-full border-b-[1px] hover:bg-stone-700 items-center gap-3 pl-2">
  <%= image_tag('icons/group.svg', class: 'w-5 h-5') %>
  <%= link_to room.name, room , 
  class: 'py-3 w-full pl-1  border-stone-600'%>
</div>